---
import { Image } from 'astro:assets'
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import myImage from '../../assets/images/961A0753.webp'
---

<BaseLayout title='Home'>
	<TitlePage title='About me' />

	<article class='max-w-full w-full'>
		<div>
			<Image
				loading='eager'
				class='h-auto max-w-full my-8 rounded-md'
				src={myImage}
				alt='Alexander Golev, the sexiest ITAM consultant in the world.'
			/>
		</div>
		<div class='prose prose-lg md:prose-xl dark:prose-invert mb-12 min-w-full'>
			<p>
				Hello! I'm Alexander Golev, an entrepreneur passionate about clear communication and genuine
				interactions. Settled in the UK, I'm deeply aligned with British values, cherishing the
				respect for law and personal freedom. My professional and personal journey has been enriched
				by experiences in Switzerland, ex-USSR, Cyprus, and the UK, along with working with clients
				from various corners of the world.
			</p>

			<h2>Living by My Philosophy</h2>
			<p>
				My life's philosophy is straightforward: focus on solutions, not blame. Entrepreneurship is
				not just my profession; it's a lifestyle that I embrace wholeheartedly. It's about creating
				connections in business and networking, and most importantly, recognising the human element
				in every aspect of work.
			</p>

			<h2>My Daily Life</h2>
			<p>
				Most of the time, I'm the CEO of <a href='https://samexpert.com' target='_blank'
					>SAMexpert</a
				>. Every day there is about peeling back the layers of software licensing and cloud
				economics to find clear, practical solutions. As CEO, I dive into the complexities of
				Microsoft licensing and FinOps, but my real focus is on making these topics understandable
				and relevant for our clients. It's not just about the technical details; it's about
				connecting these concepts to real-world scenarios. Whether I'm consulting, creating content
				for <a href='https://www.youtube.com/@samexperttv' target='_blank'>SAMexpert TV</a>, or
				collaborating with my team, my goal is always the same: to provide clarity and insight in an
				area often filled with jargon and confusion. This is what drives me and what makes each day
				at <a href='https://samexpert.com' target='_blank'>SAMexpert</a> both a challenge and a joy.
			</p>

			<h2>Beyond the Professional Sphere</h2>
			<p>
				Away from work, I have a myriad of interests that keep me engaged. I'm an enthusiast of
				travel, languages, and cultural exploration. Fitness is important to me, as I enjoy cycling
				and running. I also delve into video creation, primarily for YouTube, and express my
				creativity through writing, cooking, and baking.
			</p>

			<h2>Engaging with You</h2>
			<p>
				I'm keen to connect with you through my <a
					href='https://linkedin.com/in/golev'
					target='_blank'>LinkedIn</a
				> or here on my personal blog. While I'm preparing to host Q&A sessions on my <a
					href='https://www.youtube.com/@alexandergolev'
					target='_blank'>personal YouTube channel</a
				> , you can already catch me on <a
					href='https://www.youtube.com/@samexperttv'
					target='_blank'>SAMexpert TV</a
				>, discussing Cloud FinOps and Microsoft Licensing. These sessions are a wonderful
				opportunity for us to exchange knowledge and insights.
			</p>

			<h2>Join My Journey</h2>
			<p>
				This website is a canvas reflecting my life, beliefs, and diverse experiences. It's more
				than a professional hub; it's a place for exploration, learning, and connection. I invite
				you to be a part of this journey, where we can share knowledge, understand diverse
				perspectives, and build meaningful connections.
			</p>
		</div>
	</article>
</BaseLayout>
